# Angular / Node
node_modules/
dist/
tmp/
out-tsc/
bazel-out/
.angular/cache/
coverage/

# Logs
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.vscode/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/

# System files
.DS_Store
Thumbs.db
